.card {
  width: 40rem;
  height: 60rem;
  border-radius: 0.5rem;
}

.card__figure {
  height: 80%;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card__figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: bottom;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card__section {
  height: 20%;
  background: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem;
}
