.section {
  padding-bottom: 4rem;
}

.section__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  color: #eee;
  font-size: 6rem;
  gap: 2rem;
}

.section__h2 {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
}

.section__wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
